body, div, section, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}


html {
  height: 100%;
  width: 100%;
  background-color: mediumpurple;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width:100%;
}

.everything {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.query-entry-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 40px;
  color: white;
  border: solid;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
}

.form-text {
  font-size: 25px;
}

.inputs {
  width: 200px;
  font-size: 25px;
  border: none;
  border-bottom: solid 1px white;
  background: none;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.query-output {
  margin-top: 50px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message  {
  font-size: 20px;
  color: white;
  font-weight: 700;
  -webkit-text-stroke-color: #6441a4;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 30px;
}


.purged {
  font-size: 100px;
  color: #6441a4;
  font-weight: bold;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 5px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}

.message-holder {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 50px;
  margin-bottom: 30px;
}

.message-2 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 100px;
  color: #6441a4;
  font-weight: bold;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 5px;

}

.message-1, .message-3 {
  font-size: 50px;
}

.available {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.available-message {
  font-size: 50px;
  color: white;
  font-weight: 700;
  -webkit-text-stroke-color: #6441a4;
  -webkit-text-stroke-width: 2px;
  margin-bottom: 30px;
}

.not-available {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.created-at {
  font-size: 20px;
  margin-bottom: 10px;
}

.updated-at {
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.footer-list {
  font-size: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.f-label {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.f-list-item {
  font-size: 20px;
  margin-right:30px;
}

.f-list-item:last-of-type {
  margin-right: 0;
}

.f-list-item:hover {
  border-bottom: 1px solid white;
}
